* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #db0a0a, #8195f8);
}

nav {
  font-family: monospace;
  background-color: rgb(209, 221, 229, 0.667);
  height: fit-content;
  display: flex;
  width: 100%;
  height: 120px;
}

.fa-square-github {
  font-size: 75px;
  margin-top: 1rem;
  top: 0;
  left: 2rem;
  color: black;
  position: absolute;
}

.fa-square-github:hover {
  color: #dc3131;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding-left: 24%;
}

.container {
  width: 600px;
  position: fixed;
  justify-content: center;
  margin-top: 9rem;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 10px 19px rgba(0, 0, 0, 1.5);
}

#displayBar {
  width: 37.6rem;
  height: 100px;
  color: white;
  font-size: 35px;
  text-align: right;
  font-weight: bold;
  background-color: black;
}

#calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
}

button {
  height: 120px;
  font-size: 26px;
  cursor: pointer;
  background-color: #eaebf3;
  border: 1px solid white;
}
button:hover {
  background-color: white;
}

.span-two {
  grid-column: span 2;
}

@media screen and (max-width: 656px) {
  .container {
    width: 400px;
    height: 100%;
  }
  #displayBar {
    width: 25rem;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .container {
    width: 300px;
    height: 100%;
  }
  #displayBar {
    width: 18.8rem;
  }
  h1 {
    font-size: 15px;
  }
  .fa-square-github {
    font-size: 50px;
    margin-top: 1rem;
    top: 0;
    left: 2rem;
    color: black;
    position: absolute;
  }
}
